.images{
    display: flex;
    margin: 5rem 0;
    margin-left: 15%;
}

.image{
    margin-left: 4rem;
    text-align: center;
    background-color: rgb(44, 44, 44);
    width: 30rem;
    height: 30rem;
}
.titule{
    font-size: 2rem;
}
.text{
    font-size: 1.8rem;
}
.cont{
    margin-left: 10%;
    justify-items: center;
    display: grid;
    border-color: black;
    width: 80rem;
}
