<div class="imagenes">
    <div class="imagen">
    
    </div>
    <div class="imagen">
    
    </div>
    <div class="imagen">
</div>
</div>
<div class="cont">

    <label class="titule">Nombre</label>
    <ul class="list">
        
        <li class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere illum illo animi cupiditate aspernatur fugit nobis ullam in dolorum quisquam eum ratione placeat, blanditiis consequuntur! Odio tempora optio error voluptates!</li>
        <li class="text">Numero Referencia</li>
        <li class="text">IDMarca</li>
        <li class="text">IdCategoria</li>
        <li class="text">Unidades disponilbles</li>
        <li class="text">Garantia</li>
        <li class="text">Alto</li>
        <li class="text">Largo</li>
        <li class="text">Ancho</li>
    </ul>
</div>

