<h2>Lista Electrodomesticos</h2>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Unidades</th>
                <th>ID Marca</th>
                <th>Garantia</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items" >
                
                    <td>{{item.nombre}}</td>
                    <td>{{item.unidadesDisponibles}}</td>
                    <td>{{item.idMarca}}</td>
                    <td>{{item.tiempoGarantia}}</td>
               
            </tr>
        </tbody>
    </table>
</div>

<label>{{service.id}}</label>